/* Reset de clases */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Specifics */
#root {
  width: 100%;
}

html {
  font-size: 10px;
}

.light-mode, .light-mode .header {
  background-color: #FFFFFF;
  color: #333333;
}

.section {
  margin-top: 2.4rem;
  margin-bottom: 2.4rem;
}

.wrapper {
  max-width: 120.8rem;
  margin: 0 auto;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.header {
  background-color: #353535;
}

.header .wrapper {
  min-height: 6rem;
  display: flex;
  align-items: center;
  font-size: 3rem;
  justify-content: space-between;
}

.header .title {
  font-size: 3rem;
}

.map-container--wrapper, .map-container {
  width: 100%; 
  height: 60rem;
}

.footer-data {
  background-color: #1f3d75;
  color: #FFFFFF;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.footer-data__list {
  display: flex;
  justify-content: space-around;
}

.footer-data__list__title {
  font-size: 2rem;
  font-weight: 700;
}

.footer-data__list__data {
  font-size: 1.6rem;
}

.ISSFooterData {
  font-size: 1.6rem;
}

/* Spinner */
.spinner__container {
  height: 60rem;
  display: grid;
  place-content: center;
}

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}

@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Mobile Resolution */
@media all and (max-width: 750px) {
  .map-container--wrapper, .map-container {
    height: 40rem;
  }

  .header .title {
    font-size: 2rem;
  }

  .section {
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-data__list {
    flex-direction: column;
    padding-left: 1.6rem;
    padding-left: 1.6rem;
  }

  .footer-data__list__data {
    padding-bottom: 2rem;
  }

  .footer-data__list__data:last-of-type {
    padding-bottom: 0;
  }

  .spinner__container {
    height: 40rem;
  }
}