:root {
	font-family: "Space Grotesk", "Poppins", system-ui, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 300;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

:root .light-mode {
	font-weight: 400;
}

/* Evita un scroll horizontal innecesario causado por elementos que usan 100vw */
html, body, #root {
  overflow-x: hidden;
}
